.wrap {
    width: 600px;
    height: 600px;
    border: 3px solid red;
    margin: 50px auto 0;
}

.test {
    text-align: center;
}

.card {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card>h1,
.card>h2 {
    width: fit-content;
    text-align: center;
}