.wrap {
    width: 1440px;
    /* height: 200px; */
    border: 1px solid red;
    box-sizing: border-box;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.lv1 {
    width: 240px;
    height: 1000px;
    box-sizing: border-box;
    border: 1px solid red;
    background-color: red;
    position: sticky;
    top: 100px;
}

.lv2 {
    width: 1150px;
    /* height: 1700px; */
    box-sizing: border-box;
    border: 1px solid red;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    width: 280px;
    height: 310px;
    border: 1px solid red;
    cursor: pointer;
}
.card>img {
    width: 100%;
}
.card>h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.description1,.description2,.description3 {
    font-size: 18px;
    font-weight: bold;
}

.card>p {
    /* border: 1px solid #000; */
    text-align: center;
}

.description1 {
    color: #999999;
    text-decoration: line-through;
}
.description2 {
    margin: 0 12px;
}
.description3 {
    color: red;
}